<div class="jumbotron">
  <h1>Azure Cleansing Manager</h1>
  <p class="lead">This application manages the Azure Resources of your Azure Subscription. Keeping costs in control.</p>
  {{#if user}}
    <h4>Welcome {{ user.displayName }}!</h4>
    <p>Use the navigation bar at the top of the page to get started.</p>
  {{else}}
    <a href="/auth/signin" class="btn btn-primary btn-large">Click here to sign in</a>
  {{/if}}
</div>
