<h1>Azure Resource Groups</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">location</th>
    </tr>
  </thead>
  <tbody>
    {{#each groups}}
      <tr>
        <td><a target="_blank" href="https://portal.azure.com/#@RapidCircle.com/resource/{{this.id}}">{{this.id}}</a></td>
        <td>{{this.name}}</td>
        <td>{{this.location}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
